body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Press Start 2P", "Arial";
}

#board {
  background-color: #009005;
  height: 80vh;
  position: relative;
}

#river {
  background-color: #0040e8;
  height: 80vh;
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
}

.obstacle {
  position: absolute;
}
.explosion {
  position: absolute;
  height: 8vh;
  width: 8w0 h;
}

#points-board {
  height: 20vh;
  background-color: #45454a;
  border-top: solid 2px rgb(27, 26, 26);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}

#airplane {
  position: absolute;
}

#fuel-container {
  width: 25vw;
  height: 7vh;
  border: black solid 3px;
}

#points-table {
  color: #d3ae5c;
  font-size: 4vw;
}

#fuel-pointer {
  position: relative;
}

.bullet {
  /* width: 5px;
  height: 20px; */
  background-color: wheat;
  position: absolute;
}

/* ------welcome and game over page-------------- */

#board-gameover {
  background-color: #009005;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#text-game-over {
  font-weight: 700;
  font-size: 80px;
}

#link-game-over {
  color: #0040e8;
  font-size: 50px;
}

#game-over-table {
  position: relative;
}

#text-game-welcome {
  font-size: 47px;
}

#link-game-welcome {
  color: #0040e8;
  font-size: 40px;
}
